{% extends 'base2.html' %}
{% load i18n %}
{% load static %}
{% load blog_tags %}

{% block title%} {% trans 'Base64' %}  {% trans 'To' %} {% trans 'PDF' %} {% endblock %}

{% block extraheads %}
    <link rel="canonical" href="https://ilovepdfconverteronlne.com/tools/base64-to-pdf" />
{% endblock %}

{% block content %}
    <div class="container-fluid poppins-regular text-center bg-body-secondary pt-5" >
    <h1 class="roboto-bold"> {% trans 'Base64' %}  {% trans 'To' %} {% trans 'PDF' %} </h1>
    <hr>
        <div class="container">
            <h2>{% trans 'base64_2pdf_subtitle' %}</h2>
            <form action="/tools/base64-to-pdf/" method="post" class="form-control align-items-center p-3 mt-3">
                {% csrf_token %}
                <textarea name="base64_string" class="form-control" rows="9" cols="90" placeholder="{% trans 'base64_2pdf_plcHoldr' %}"></textarea><br>
                <button type="submit" class="btn btn-danger btn-lg">{% trans 'Convert' %} -> {% trans 'PDF' %}</button>
            </form>
        </div>
    </div>
{% endblock %}  
    