{% extends 'base2.html' %}
{% load i18n %}
{% load static %}
{% load blog_tags %}

{% block title%}{% trans 'EXCEL' %} {% trans 'To' %} {% trans 'PDF' %} {% endblock %}

{% block content %}
  <div class="container-fluid poppins-regular text-center pt-5 mt-5" >
    <h1>{% trans 'EXCEL' %} {% trans 'To' %} {% trans 'PDF' %}</h1>
    
    <hr>
    <div class="container">
        <h2>{% trans 'xl2p_subtitle'%}</h2>
        <br>

        <form method="post" enctype="multipart/form-data" class="form-control align-items-center p-3 mt-3">
            {% csrf_token %}
            <input type="file" class="form-control btn btn-primary btn-md" name="excel_file" required><br>
            <button type="submit" class="btn btn-danger btn-lg">{% trans 'Convert'%} -> {% trans 'PDF'%} </button>
        </form>
    </div>

    <div class="container-fluid mt-3 text-start">
      {% if tool_attachment %} 
        <div class="card-body bg-body fs-5 p-5">
            {{tool_attachment.body|markdown}}
        </div>       
        <br>
      {% endif %}
    </div>
    
  </div>
{% endblock %}  
