{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="container text-center bg-body-secondary" >
    <h1>Excel to PDF Converter</h1>
        <form method="post" enctype="multipart/form-data" action="/tools/excel-to-pdf/">
            {% csrf_token %}
            <input type="file" name="excel_file"><br><br>
            <button type="submit">Convert to PDF</button>
        </form>

    </div>

{% endblock %}  

{% comment %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel to PDF Converter</title>
</head>
<body>
    <h1>Excel to PDF Converter</h1>
    <form method="post" enctype="multipart/form-data" action="/tools/excel-to-pdf/">
        {% csrf_token %}
        <input type="file" name="file" accept=".xlsx, .xls, .ods" required>
        <button type="submit">Convert to PDF</button>
    </form>
</body>
</html> {% endcomment %}
