{% extends 'base2.html' %}
{% load static %}


{% block content %}
  <div class="container text-center bg-body-secondary" >
    <h1> Image to PDF Converter </h1>
    <hr><br>
    <div class="container bg-light ">
      <h2>Image to PDF Convereter Online Tool Page </h2>
        <div class="container text-center">
          <form method="post" enctype="multipart/form-data" action="{% url 'tools:image_to_pdf_include' %}">
              {% csrf_token %}
              <label for="image_file" class="btn btn-custom btn-md">
                <span id="file-label"><h1>Select Image File</h1></span>        
              <input id="image_file" type="file" name="images" accept="image/jpg, image/jpeg, image/png" multiple required>
            </label><br>
          <button class="btn btn-danger btn-lg" type="submit">Convert</button><br><br><br>
          </form>

    </div>
  </div>
{% endblock %}  
