{% extends 'base2.html' %}
{% load static %}
{% load i18n %}
{% load meta %}
{% load blog_tags %}

{% block title%}{% trans 'Image' %} ({% trans 'JPG' %}|{% trans 'JPEG' %}|{% trans 'PNG' %}) {% trans 'To' %} {% trans 'PDF' %} {% endblock %}

{% block extraheads %}
    <link rel="canonical" href="https://ilovepdfconverteronlne.com/tools/jpeg-to-pdf" />
{% endblock %}


{% block content %}
  <div class="container poppins-regular text-center" >
    <p class="roboto-bold text-uppercase fs-1"> {% trans 'Image' %} ({% trans 'JPG' %}|{% trans 'JPEG' %}|{% trans 'PNG' %}) {% trans 'To' %} {% trans 'PDF' %} Converter </p>
    <hr><br>
    <div class="container bg-light ">
      <p class="roboto-bold text-uppercase fs-2"> {% trans 'Image' %} ({% trans 'JPG' %}|{% trans 'JPEG' %}|{% trans 'PNG' %}) {% trans 'To' %} {% trans 'PDF' %} Convereter Online Tool Page </p>
        <div class="container text-center">
          <form method="post" enctype="multipart/form-data" action="{% url 'tools:image_to_pdf_include' %}">
            {% csrf_token %}
            <label for="image_file"> 
              <span id="file-label"><h2>{% trans 'Upload' %} {% trans 'Image' %} {% trans 'File' %}</h2></span>    
            </label>    
            <input id="image_file" type="file" name="images" class="form-control btn btn-primary btn-md" accept="image/jpg, image/jpeg, image/png" multiple required>
            <br>
            <button class="btn btn-danger btn-lg" type="submit">{% trans 'Convert' %} {% trans 'To' %} {% trans 'PDF' %}</button><br><br><br>
          </form>

    </div>
  </div>
{% endblock %}  

