{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load meta %}
{% load blog_tags %}

{% block title%}{% trans 'Image' %} ({% trans 'JPG' %}|{% trans 'JPEG' %}|{% trans 'PNG' %}) {% trans 'To' %} {% trans 'PDF' %} {% endblock %}

{% block content %}
  <div class="container-fluid poppins-regular text-center pt-5 mt-3" >
    <h1> {% trans 'Image' %} ({% trans 'JPG' %}|{% trans 'JPEG' %}|{% trans 'PNG' %}) {% trans 'To' %} {% trans 'PDF' %}</h1>
    <hr><br>
    <h2>{% trans 'img2p_subtitle' %}</h2>

    <div class="container text-center">
      <form class="form-control align-items-center p-2 mt-2" method="post" enctype="multipart/form-data" action="">
          {% csrf_token %}
          
          <label for="image_file"> 
            <span id="file-label"><h2>{% trans 'Upload' %} {% trans 'Image' %} {% trans 'File' %}</h2></span>    
          </label>    
          <input id="image_file" type="file" name="images" class="form-control btn btn-primary btn-md" accept="image/jpg, image/jpeg, image/png" multiple required>
                         
          <br>
          <p><b>{% trans 'img2p_rest' %}</b>
          <br><br>        
          <button class="btn btn-danger btn-lg" type="submit">{% trans 'Convert' %} {% trans 'To' %} {% trans 'PDF' %}</button>
      </form>
    </div>

  </div>

  <div class="container-fluid mt-3 text-start">
    {% if tool_attachment %} 

      <div class="card-body bg-body fs-5 p-5">
          {{tool_attachment.body|markdown}}
      </div>       
      <br>
      
    {% endif %}
  </div> 
     
{% endblock %}  
