{% extends 'base.html' %}
{% load static %}


{% block content %}
  <div class="container text-center bg-body-secondary" >
      <h1> Image to PDF Converter </h1>
    
    <hr>
    <div class="container">
      <h2>Image to PDF Convereter Online Tool Page </h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="images" accept="image/jpg, image/jpeg, image/png" multiple required>
            <button type="submit">Convert</button>
        </form>

    </div>
  </div>
{% endblock %}  
