<!-- json_to_pdf.html -->
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load blog_tags %}

{% block title%} {% trans 'JSON' %} {% trans 'To' %} {% trans 'PDF' %} {% endblock %}
{% block content %}
    <div class="container-fluid poppins-regular text-center bg-body-secondary pt-5" >
        <h1 class="roboto-bold">{% trans 'JSON' %} {% trans 'To' %} {% trans 'PDF' %} </h1>
        <hr><br>
        <h2 class="roboto-bold">{% trans 'json2pdf_subtitle' %}</h2>
        <form action="/tools/json-to-pdf/" method="post" enctype="multipart/form-data" class="form-control align-items-center p-3 mt-3">
            {% csrf_token %}
            <input type="file" name="json_file" accept=".json"  class="form-control btn btn-primary btn-md" ><br><br>
            <button type="submit"  class="btn btn-danger btn-lg">{% trans 'Convert' %} -> {% trans 'PDF' %}</button>
        </form>
    </div>

    <div class="container-fluid mt-3 text-start">
        {% if tool_attachment %} 
        <div class="card-body bg-body fs-5 p-5">
            {{tool_attachment.body|markdown}}
        </div>       
        <br>
        {% endif %}
    </div> 
    
{% endblock %}  
