<!-- json_to_pdf.html -->
{% extends 'base2.html' %}
{% load i18n %}
{% load static %}
{% load blog_tags %}

{% block title%} {% trans 'json2pdf_title' %}{% endblock %}
{% block content %}
<div class="container-fluid poppins-regular text-center bg-body-secondary pt-5" >
    <h1 class="roboto-bold">{% trans 'json2pdf_title' %}</h1>
    <hr><br>
    <h2 class="roboto-bold">{% trans 'json2pdf_subtitle' %}</h2>
    <form action="/tools/json-to-pdf/" method="post" enctype="multipart/form-data" class="form-control align-items-center p-5 mt-5">
        {% csrf_token %}
        <input type="file" name="json_file" accept=".json"  class="btn btn-primary btn-lg" ><br><br>
        <button type="submit"  class="btn btn-danger btn-lg">{% trans 'Convert' %} -> {% trans 'PDF' %}</button>
    </form>
</div>
{% endblock %}  
