{% extends 'base2.html' %}
{% load i18n %}
{% load static %}

{% block title%} {% trans 'mrg2pdf_title' %}  {% endblock %}

{% block extraheads %}
    <style>
        #files-list {
            list-style-type: none;
            padding: 0;
        }
        #files-list li {
            margin: 10px;
            padding: 5px;
            border: 1px solid #ddd;
            cursor: move; /* Indicate it's draggable */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container poppins-regular text-center">
        <p class="roboto-bold text-uppercase fs-1"></p>
        <hr><br>
        <p class="roboto-bold text-uppercase fs-2">{% trans 'mrg2pdf_subtitle' %}</p>
        <br>
        <div class="container">
            <form id="upload-form" class="form-control align-items-center p-2 mt-3" action="{% url 'tools:merge_pdf_include' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="file-inputs">
                    <div id="input-0" class="file-input">
                        <label for="pdf_file_0">PDF No. 1</label>
                        <input type="file" class="form-control btn btn-primary btn-md" name="pdf_files" id="pdf_file_0" accept="application/pdf" required><br>
                    </div>
                </div><br><hr>
                <button type="button" class="btn btn-danger btn-lg" id="add-file-btn">{% trans 'mrg2pdf_addpdf' %}</button>
                <button type="submit" class="btn btn-danger btn-lg">{% trans 'mrg2pdf_btn' %}</button>
            </form>
        </div>
        <script>
            document.getElementById('add-file-btn').addEventListener('click', function() {
                var fileInputs = document.getElementById('file-inputs');
                var lastInputId = fileInputs.children.length;
                var newInputId = 'input-' + lastInputId;
                var newInputNumber = lastInputId + 1;

                var newInputDiv = document.createElement('div');
                newInputDiv.id = newInputId;
                newInputDiv.classList.add('file-input');

                var label = document.createElement('label');
                label.textContent = 'PDF No. ' + newInputNumber;
                label.setAttribute('for', 'pdf_file_' + newInputNumber);

                var inputFile = document.createElement('input');
                inputFile.type = 'file';
                inputFile.name = 'pdf_files';
                inputFile.id = 'pdf_file_' + newInputNumber;
                inputFile.accept = 'application/pdf';
                inputFile.required = true;

                newInputDiv.appendChild(label);
                newInputDiv.appendChild(inputFile);
                fileInputs.appendChild(newInputDiv);

            });
        </script>

    </div>
    <!-- <script src="{% static 'js/merge_pdf.js' %}"></script> -->
{% endblock %}
