{% extends 'base.html' %}
{% load static %}
{% load meta %}
{% load blog_tags %}
{% load meta %}
{% load pwa %} 

{% block title%} Merge PDF Files  {% endblock %}


{% block extraheads %}
    <style>
        #files-list {
            list-style-type: none;
            padding: 0;
        }
        #files-list li {
            margin: 10px;
            padding: 5px;
            border: 1px solid #ddd;
            cursor: move; /* Indicate it's draggable */
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block content %}
    <div class="container poppins-regular">
        <h1 class="roboto-bold">Merge PDF Files</h1>
        <hr><br>
        <h2>You can merge PDF with Full accuracy just in click.</h2>
        <br>
        <div class="container">
            <form id="upload-form" class="form-control align-items-center p-5 mt-5" action="/tools/merge-pdf/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="file-inputs">
                    <div id="input-0" class="file-input">
                        <label for="pdf_file_0">PDF No. 1</label>
                        <input type="file" name="pdf_files" id="pdf_file_0" accept="application/pdf" required><br>
                    </div>
                </div><br><hr>
                <button type="button" class="btn btn-danger btn-lg" id="add-file-btn">Add more PDF</button>
                <button type="submit" class="btn btn-danger btn-lg">Upload and Merge</button>
            </form>
        </div>
        <script>
            document.getElementById('add-file-btn').addEventListener('click', function() {
                var fileInputs = document.getElementById('file-inputs');
                var lastInputId = fileInputs.children.length;
                var newInputId = 'input-' + lastInputId;
                var newInputNumber = lastInputId + 1;

                var newInputDiv = document.createElement('div');
                newInputDiv.id = newInputId;
                newInputDiv.classList.add('file-input');

                var label = document.createElement('label');
                label.textContent = 'PDF No. ' + newInputNumber;
                label.setAttribute('for', 'pdf_file_' + newInputNumber);

                var inputFile = document.createElement('input');
                inputFile.type = 'file';
                inputFile.name = 'pdf_files';
                inputFile.id = 'pdf_file_' + newInputNumber;
                inputFile.accept = 'application/pdf';
                inputFile.required = true;

                newInputDiv.appendChild(label);
                newInputDiv.appendChild(inputFile);
                fileInputs.appendChild(newInputDiv);

            });
        </script>

    </div>
    <div class="container mt-3 text-start">
        <div class="card-body bg-body p-5">
            {{tool_attachment.body|markdown}}
        </div>
    </div>

    <!-- <script src="{% static 'js/merge_pdf.js' %}"></script> -->
{% endblock %}
