{% extends 'base2.html' %}
{% load i18n %}
{% load static %}
{% load blog_tags %}

{% block title%} {% trans 'Convert' %} {% trans 'ODS' %} {% trans 'To' %} {% trans 'EXCEL' %} ({% trans 'XLSX' %}) {% endblock %}

{% block extraheads %}
    <link rel="canonical" href="https://ilovepdfconverteronlne.com/tools/ods-to-xlsx" />
{% endblock %}


{% block content %}
    <div class="container-fluid poppins-regular text-center pt-5 mt-5" >
        <h1>{% trans 'Convert' %} {% trans 'ODS' %} {% trans 'To' %} {% trans 'EXCEL' %} ({% trans 'XLSX' %}) </h1>
        <hr>
        <div class="container">
            <h2>{% trans 'ODS2XLSX_subtitle' %}</h2>
            <form method="post" enctype="multipart/form-data" class="form-control align-items-center p-3 mt-3">
            {% csrf_token %}
            <label for="odp_file">{% trans 'Upload' %} {% trans 'ODS' %} {% trans 'File' %}:</label>
            <input type="file" name="ods_file" id="ods_file" class="form-control btn btn-primary btn-md" accept=".ods" required>
            <button type="submit" class="btn btn-danger btn-lg">{% trans 'Convert' %} {% trans 'To' %} {% trans 'XLSX' %}</button>
        </form>
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}

        </div>
    </div>

    <div class="container-fluid mt-3 text-start">
    {% if tool_attachment %} 
        <div class="card-body bg-body fs-5 p-5">
            {{tool_attachment.body|markdown}}
        </div>       
        <br>
    {% endif %}
</div> 

{% endblock %}  

