{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% block content %}
    <div class="ccontainer-fluid poppins-regular text-center pt-5 mt-5" >
        <h1>{% trans 'p2w_title' %}</h1>
        <hr><br>
        <h2>{% trans 'p2w_subtitle' %} </h2>
        <br>
        <div class="container text-center" >
            <form class="form-control  align-items-center p-5 mt-5" method="post" enctype="multipart/form-data" action="/tools/pdf-to-word/">
                {% csrf_token %}
                {% comment %} <input class="form-control-lg  form-control-color"  value="#e5322d" type="file" name="pdf_file" accept=".pdf" required> {% endcomment %}
                <label for="pdf_file" class="btn btn-custom btn-lg">
                    <span id="file-label"><h2>{% trans 'Upload' %} PDF File</h2></span>
                    <input id="pdf_file" class="visually-hidden" type="file" name="pdf_file" accept=".pdf" required onchange="updateFileName(this)">
                </label>                
                <br><p>{% trans 'p2w_rest' %}or Drop PDF here<br><br>
                <button class="btn btn-danger btn-lg" type="submit">{% trans 'Convert' %}</button>
            </form>
        </div>
        <script>
            function updateFileName(input) {
                var fileName = input.files[0].name;
                document.getElementById('file-label').innerText = fileName;
            }
        </script>
    </div>
{% endblock %}  

