{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load blog_tags %}

{% block title%} {% trans 'PDF' %} {% trans 'To' %} {% trans 'HTML' %}{% endblock %}

{% block content %}
    <div class="container-fluid poppins-regular text-center bg-body-secondary pt-5" >
        <h1 class="roboto-bold"> {% trans 'PDF' %} {% trans 'To' %} {% trans 'HTML' %}</h1>
        <hr>
        <div class="container">
            <h2>{% trans 'pdf2html_subtitle' %}</h2>
            <!-- <img src="{% static 'img/YellowComingSoon.png' %}" class="img-fluid"> -->
            <form method="post" enctype="multipart/form-data" class="form-control align-items-center p-3 mt-3" action="">
                {% csrf_token %}
                <label for="pdf_file">{% trans 'Upload' %} {% trans 'PDF' %} :</label>
                <input type="file" id="pdf_file" name="pdf_file" class="form-control btn btn-primary btn-md" accept="application/pdf" required><br><br>
                <button type="submit" class="btn btn-danger btn-lg">{% trans 'Convert' %} -> {% trans 'HTML' %}</button>
            </form>
            {% if html_file_url %}
                <p>{% trans 'Convert' %} {% trans 'File' %}: <a href="{{ html_file_url }}">{% trans 'Download' %}</a></p>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid mt-3 text-start">
        {% if tool_attachment %} 
        <div class="card-body bg-body justify fs-5 p-5">
            {{tool_attachment.body|markdown}}
        </div>       
        <br>
        {% endif %}
    </div> 

{% endblock %}  
