{% extends 'base2.html' %}
{% load i18n %}
{% load static %}
{% load blog_tags %}

{% block title%} {% trans 'PDF' %} {% trans 'To' %} {% trans 'EXCEL' %}  ({% trans 'CSV' %}) {% endblock %}

{% block extraheads %}
    <link rel="canonical" href="https://ilovepdfconverteronlne.com/tools/pdf-to-csv" />
{% endblock %}


{% block content %}
  <div class="container-fluid poppins-regular text-center pt-5 mt-5" >
    <h1>{% trans 'PDF' %} {% trans 'To' %} {% trans 'EXCEL' %}  ({% trans 'CSV' %}) </h1>
    <hr>
    <div class="container">
      <h2>{% trans 'p2csv_subtitle' %}</h2>
      {% comment %} <img src="{% static 'img/YellowComingSoon.png' %}" class="img-fluid"> {% endcomment %}
      <form method="post" enctype="multipart/form-data" class="form-control align-items-center p-3 mt-3">
          {% csrf_token %}
          <input type="file" name="pdf_file" class="form-control btn btn-primary btn-md" accept=".pdf" required><br>
          <button type="submit" class="btn btn-danger btn-lg">{% trans 'Convert' %} {% trans 'To' %} {% trans 'CSV' %}</button>
      </form>

    </div>
  </div>

{% endblock %}  
