{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load blog_tags %}

{% block title%} {% trans 'PDF' %} {% trans 'To' %} {% trans 'Base64' %} {% endblock %}

{% block content %}
  <div class="container-fluid poppins-regular text-center bg-body-secondary pt-5" >
    <h1 class="roboto-bold"> {% trans 'PDF' %} {% trans 'To' %} {% trans 'Base64' %} </h1>
    <hr>
    <div class="container">
        <h2>{% trans 'pdf2base64_subtitle' %}</h2>
        <form method="post" enctype="multipart/form-data" class="form-control align-items-center p-3 mt-3" >
            {% csrf_token %}
            <label for="pdf_file">{% trans 'Upload' %} a {% trans 'PDF' %} {% trans 'File' %}:</label><br>
            <input type="file" id="pdf_file" name="pdf_file" class="form-control btn btn-primary btn-md" accept=".pdf"><br>
            <button type="submit" class="btn btn-danger btn-lg">{% trans 'Convert' %} -> {% trans 'Base64' %}</button>
        </form>
        {% if base64_string %}
            <h2>Base64 String:</h2>
            <textarea rows="10" cols="50">{{ base64_string }}</textarea>
        {% endif %}
    </div>
  </div>

  <div class="container-fluid mt-3 text-start">
    {% if tool_attachment %} 
    <div class="card-body bg-body justify fs-5 p-5">
        {{tool_attachment.body|markdown}}
    </div>       
    <br>
    {% endif %}
  </div> 

{% endblock %}  
