{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block content %}
  <div class="container-fluid poppins-regular text-center pt-5 mt-5" >
    <h1>{% trans 'p2pp_title' %}</h1>
    <hr><br>
    <div class="container ">
      <h2>{% trans 'p2pp_subtitle' %}</h2>
      <img src="{% static 'img/YellowComingSoon.png' %}" class="img-fluid">

      {% comment %} <form class="form-control  align-items-center p-5 mt-5" method="post" enctype="multipart/form-data" action="/tools/pdf_to_powerpoint/">
        {% csrf_token %}
        <label for="pdf_file" class="btn btn-custom btn-lg">
          <span id="file-label"><h1>Select PDF File</h1></span>
          <input id="pdf_file" class="visually-hidden" type="file" name="pdf_file" accept=".pdf" required onchange="updateFileName(this)">
        </label>                
        <br><p>or Drop PDF here<br><br>
        <button class="btn btn-danger btn-lg" type="submit">Convert to PPT/PPTX</button>
      </form> {% endcomment %}
    </div>
    {% comment %} <script>
      function updateFileName(input) {
          var fileName = input.files[0].name;
          document.getElementById('file-label').innerText = fileName;
      }
    </script> {% endcomment %}
  </div>

{% endblock %}  
