{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load blog_tags %}

{% block title%} {% trans 'PDF' %} {% trans 'To' %} {% trans 'WORD' %} {% endblock %}

{% block content %}
    <div class="ccontainer-fluid poppins-regular text-center pt-3 mt-3" >
        <h1>{% trans 'PDF' %} {% trans 'To' %} {% trans 'WORD' %}</h1>
        <hr><br>
        <h2>{% trans 'p2w_subtitle' %} </h2>
        <br>
        <div class="container text-center" >
            <form class="form-control align-items-center p-2 mt-2" method="post" enctype="multipart/form-data" action="/tools/pdf-to-word/">
                {% csrf_token %}
                {% comment %} <input class="form-control-lg  form-control-color"  value="#e5322d" type="file" name="pdf_file" accept=".pdf" required> {% endcomment %}
                <label for="pdf_file" class="btn btn-custom btn-lg">
                    <span id="file-label"><h2>{% trans 'Upload' %} {% trans 'PDF' %} {% trans 'File' %}</h2></span>
                    <input id="pdf_file" class="visually-hidden" type="file" name="pdf_file" accept=".pdf" required onchange="updateFileName(this)">
                </label>                
                <br><p>{% trans 'p2w_rest' %}or Drop PDF here<br><br>
                <button class="btn btn-danger btn-lg" type="submit">{% trans 'Convert' %} {% trans 'PDF' %} -> {% trans 'WORD' %}</button>
            </form>
        </div>
        <script>
            function updateFileName(input) {
                var fileName = input.files[0].name;
                document.getElementById('file-label').innerText = fileName;
            }
        </script>
    </div>

    <div class="container-fluid mt-3 text-start">
        {% if tool_attachment %} 
          <div class="card-body bg-body justify fs-5 p-5">
              {{tool_attachment.body|markdown}}
          </div>       
          <br>
        {% endif %}
      </div> 
    
{% endblock %}  

