{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}

{% block content %}
    <div class="container text-center" >
      <h1> PDF to JPG</h1>
      <hr><br>
      <h2>PDF to JPG Convereter Tool Page</h2>
      <br>
      <div class="container text-center" >
        <form class="form-control  align-items-center p-5 mt-5" method="post" enctype="multipart/form-data" action="{% url 'tools:pdf_to_image' %}">
          {% csrf_token %}
          <label for="pdf_file" class="btn btn-custom btn-lg">
            <span id="file-label"><h2>Select PDF File</h2></span>
            <input id="pdf_file" class="visually-hidden" type="file" name="pdf_file" accept=".pdf" required onchange="updateFileName(this)">
          </label>                
          <br><p>or Drop PDF here<br><br>
          <button class="btn btn-danger btn-lg" type="submit">Convert to JPG Image</button>
        </form>
      </div>
      <script>
        function updateFileName(input) {
            var fileName = input.files[0].name;
            document.getElementById('file-label').innerText = fileName;
        }
    </script>  
    </div>
{% endblock %}  

