{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container text-center bg-body-secondary" >
    <h1> Powerpoint to PDF </h1>
    
    <hr>
    <div class="container">
      <h2>Powerpoint to PDF Convereter Page Content</h2>
      {% comment %} <img src="{% static 'img/YellowComingSoon.png' %}" class="img-fluid"> {% endcomment %}
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="ppt_file">
        <button type="submit">Convert to PDF</button>
      </form>



    </div>
  </div>
{% endblock %}  

