{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load blog_tags %}

{% block title%} {% trans 'Rotate'%} {% trans 'PDF' %}{% endblock %}

{% block content %}
  <div class="container-fluid poppins-regular text-center pt-5 mt-5" >
    <h1> {% trans 'Rotate'%} {% trans 'PDF' %}</h1>
    <hr>
    <div class="container">
      <h2>{% trans 'rotatepdf_subtitle' %}</h2>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger btn-lg">{% trans 'Rotate'%} {% trans 'PDF' %}</button>
      </form>
    </div>
  </div>

  <div class="container-fluid mt-3 text-start">
    {% if tool_attachment %} 
    <div class="card-body bg-body justify fs-5 p-5">
        {{tool_attachment.body|markdown}}
    </div>       
  <br>
    {% endif %}
  </div>

{% endblock %}  
