{% extends 'base2.html' %}
{% load i18n %}
{% load static %}
{% load blog_tags %}

{% block title%} {% trans 'Split'%} {% trans 'PDF'%} {% endblock %}

{% block extraheads %}
    <style>
        #files-list {
            list-style-type: none;
            padding: 0;
        }
        #files-list li {
            margin: 10px;
            padding: 5px;
            border: 1px solid #ddd;
            cursor: move; /* Indicate it's draggable */
        }
    </style>
{% endblock %}


{% block content %}
  <div class="container poppins-regular text-center" >
    <p class="roboto-bold text-uppercase fs-1">{% trans 'Split'%} {% trans 'PDF'%}</p>
    <hr><br>
    <div class="container">
      <p class="roboto-bold text-uppercase fs-2">{% trans 'split2pdf_subtitle' %}</p><br>
      <!-- <img src="{% static 'img/YellowComingSoon.png' %}" class="img-fluid"> -->
      <form method="post" enctype="multipart/form-data" class="form-control align-items-center p-3 mt-3" action="{% url 'tools:split_pdf_include' %}">
        {% csrf_token %}  
        {% comment %} {{ form.as_p }} {% endcomment %}
        <label for="page_numbers"><p class="roboto-bold text-uppercase fs-3">{% trans 'split2pdf_eachpg' %}:</p></label><br>
        <input type="file" name="file" class="form-control btn btn-primary btn-md" accept=".pdf" required aria-label="Upload PDF to split (accepts single pages or ranges)">><br><br><p><b>OR</b></p>
        <label for="page_numbers">{% trans 'split2pdf_onlypg' %}:</label><br>
        <input type="text" id="page_numbers" class="btn btn-outline-info" name="page_numbers" placeholder="1,2,3 OR 1-3 "><br><br>
        <button type="submit" class="btn btn-danger btn-lg">{% trans 'Split'%} {% trans 'PDF'%}</button>
      </form>
      
      {% if output_files %}
      <h3>Output Files:</h3>
      <ul>
          {% for file in output_files %}
          <li><a href="{{ file }}">{{ file }}</a></li>
          {% endfor %}
      </ul>
      {% endif %}

    </div>
  </div>
  {% comment %} <script>
    const form = document.querySelector('form'); // Assuming your form has a unique identifier
    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default form submission
        this.action = "{% url 'tools:split_pdf_include' %}"; // Set your target URL
        this.submit(); // Submit the form with the updated action
    });
  </script> {% endcomment %}
{% endblock %}  
