<!-- {% extends 'base2.html' %} -->
{% load i18n %}

{% load static %}
{% block title%} {% trans 'split2pdf_title' %} {% endblock %}

{% block extraheads %}
    <style>
        #files-list {
            list-style-type: none;
            padding: 0;
        }
        #files-list li {
            margin: 10px;
            padding: 5px;
            border: 1px solid #ddd;
            cursor: move; /* Indicate it's draggable */
        }
    </style>
{% endblock %}


{% block content %}
  <div class="container poppins-regular text-center" >
    <h1 class="roboto-bold">{% trans 'split2pdf_title' %}</h1>
    <hr><br>
    <div class="container">
      <h2>{% trans 'split2pdf_subtitle' %}</h2><br>
      <!-- <img src="{% static 'img/YellowComingSoon.png' %}" class="img-fluid"> -->
      <form method="post" enctype="multipart/form-data" class="form-control align-items-center p-5 mt-5" action="{% url 'tools:split_pdf_include' %}">
        {% csrf_token %}  
        {% comment %} {{ form.as_p }} {% endcomment %}
        <label for="page_numbers"><h4>{% trans 'split2pdf_eachpg' %}:</h3></label><br>
        <input type="file" name="file" accept=".pdf" required><br><br><p>OR</p>
        <label for="page_numbers">{% trans 'split2pdf_onlypg' %}:</label><br>
        <input type="text" id="page_numbers" name="page_numbers" placeholder="1,2,3 OR 1-3 "><br><br>
        <button type="submit" class="btn btn-danger btn-lg">{% trans 'split2pdf_btn' %}Split PDF</button>
      </form>
      {% if output_files %}
      <h3>Output Files:</h3>
      <ul>
          {% for file in output_files %}
          <li><a href="{{ file }}">{{ file }}</a></li>
          {% endfor %}
      </ul>
      {% endif %}

    </div>
  </div>
  {% comment %} <script>
    const form = document.querySelector('form'); // Assuming your form has a unique identifier
    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default form submission
        this.action = "{% url 'tools:split_pdf_include' %}"; // Set your target URL
        this.submit(); // Submit the form with the updated action
    });
  </script> {% endcomment %}
{% endblock %}  
