{% extends 'base2.html' %}
{% load static %}
{% block title%} Split PDF Files  {% endblock %}

{% block extraheads %}
    <style>
        #files-list {
            list-style-type: none;
            padding: 0;
        }
        #files-list li {
            margin: 10px;
            padding: 5px;
            border: 1px solid #ddd;
            cursor: move; /* Indicate it's draggable */
        }
    </style>
{% endblock %}


{% block content %}
  <div class="container  poppins-regular text-center bg-body-secondary" >
    <h1 class="roboto-bold"> Split PDF Page </h1>
    <hr><br>
    <div class="container">
      <h2>Split you PDF's each page or required only pages.</h2><br>
      <!-- <img src="{% static 'img/YellowComingSoon.png' %}" class="img-fluid"> -->
      <form method="post" enctype="multipart/form-data" class="form-control align-items-center p-5 mt-5" action="{% url 'tools:split_pdf_include' %}">
        {% csrf_token %}  
        {% comment %} {{ form.as_p }} {% endcomment %}
        <label for="page_numbers"><h4>Split Each Page:</h3></label><br>
        <input type="file" name="file" accept=".pdf" required><br><br><p>OR</p>
        <label for="page_numbers">Split only Page Numbers (separated by comma or dash for range (example: 3, 7 OR 1-3)):</label><br>
        <input type="text" id="page_numbers" name="page_numbers"><br><br>
        <button type="submit" class="btn btn-danger btn-lg">Split PDF</button>
      </form>
      {% if output_files %}
      <h3>Output Files:</h3>
      <ul>
          {% for file in output_files %}
          <li><a href="{{ file }}">{{ file }}</a></li>
          {% endfor %}
      </ul>
      {% endif %}

    </div>
  </div>
  {% comment %} <script>
    const form = document.querySelector('form'); // Assuming your form has a unique identifier
    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default form submission
        this.action = "{% url 'tools:split_pdf_include' %}"; // Set your target URL
        this.submit(); // Submit the form with the updated action
    });
  </script> {% endcomment %}
{% endblock %}  
