{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load blog_tags %}

{% block title%} {% trans 'tiff2pdf_title' %} TIFF to PDF Converter{% endblock %}

{% block content %}
    <div class="container-fluid poppins-regular text-center bg-body-secondary pt-5 pb-5" >
        <h1 class="roboto-bold"> {% trans 'tiff2pdf_title' %}</h1>
        <hr>
        <div class="container">
            <h2>{% trans 'tiff2pdf_subtitle' %}</h2>
            <form action="/tools/tiff-to-pdf/" method="post" enctype="multipart/form-data" class="form-control align-items-center p-5 mt-5 mb-5">
                {% csrf_token %}
                <label for="tiff_file"><h3>{% trans 'Upload' %} TIFF {% trans 'File' %}:</h3></label>
                <input type="file" id="tiff_file" name="tiff_file" accept=".tiff,.tif" class="btn btn-primary btn-lg" required><br>
                <button type="submit" class="btn btn-danger btn-lg">{% trans 'Convert' %} {% trans 'PDF' %}</button><br>
            </form>

            {% if pdf_url %}
                <h2>Conversion Successful!</h2>
                {% comment %} <p>Download your PDF: <a href="{{ pdf_url }}" target="_blank">Download PDF</a></p> {% endcomment %}
                <p>{% trans 'Download' %} your {% trans 'PDF' %}: </p>
                <button type="submit" class="btn btn-danger btn-lg">
                    <a href="{{ pdf_url }}" target="_blank" style="color: inherit; text-decoration: none;">{% trans 'Download' %} {% trans 'PDF' %}</a>
                </button>
            {% endif %}
        </div>
    </div>
{% endblock %}  
