{% extends 'base2.html' %}
{% load i18n %}

{% load static %}
{% load blog_tags %}

{% block title%} {% trans 'wordcounter_title' %} Word Counter Tool{% endblock %}

{% block extraheads %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        textarea {
            width: 100%;
            height: 150px;
            margin-bottom: 10px;
        }
        button {
            display: block;
            margin-bottom: 10px;
        }
        #word-count {
            font-weight: bold;
        }
    </style>

{% endblock %}

{% block content %}
<div class="container-fluid poppins-regular text-center pt-3 mt-2">
    <h1 class="roboto-bold">{% trans 'wordcounter_title' %}</h1>
    <hr><br>
    <h2>{% trans 'wordcounter_subtitle' %}</h2>
    <br>
    <div class="container">
        <form id="word-counter-form" class="form-control align-items-center p-3 mt-2">
            {% csrf_token %}
            <textarea name="text" id="text" placeholder="Enter your text here..."></textarea>
            <button type="button" id="count-words-button" class="btn btn-danger btn-lg">Count Words</button>
        </form><br>
    </div>
    <div class="form-control align-items-center p-3 ml-2">
        <p>Word Count: <span id="word-count" >{{ word_count }}</span></p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            $('#count-words-button').click(function(){
                var text = $('#text').val();
                $.ajax({
                    type: 'POST',
                    url: '',
                    data: {
                        'text': text,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response){
                        $('#word-count').text(response.word_count);
                    }
                });
            });
        });
    </script>

</div>
{% endblock %}
