{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load blog_tags %}

{% block title%} {% trans 'Convert' %} {% trans 'EXCEL' %} (XLSX) {% trans 'To' %} {% trans 'ODS' %} {% endblock %}

{% block content %}
  <div class="container-fluid poppins-regular text-center pt-5 mt-5" >
    <h1>{% trans 'Convert' %} {% trans 'EXCEL' %} (XLSX) {% trans 'To' %} {% trans 'ODS' %} </h1>
    <hr>
    <div class="container">
      <h2>{% trans 'XLSX2ODS_subtitle' %}</h2>
      <form method="post" enctype="multipart/form-data" class="form-control align-items-center p-3 mt-3">
        {% csrf_token %}
        <label for="odp_file">{% trans 'Upload' %} {% trans 'EXCEL' %} {% trans 'File' %}:</label>
        <input type="file" name="xlsx_file" id="xlsx_file" class="form-control btn btn-primary btn-md" accept=".xlsx" required>
        <button type="submit" class="btn btn-danger btn-lg">{% trans 'Convert' %} {% trans 'To' %} ODS</button>
    </form>
    </div>
  </div>

  <div class="container-fluid mt-3 text-start">
    {% if tool_attachment %} 
        <div class="card-body bg-body justify fs-5 p-5">
            {{tool_attachment.body|markdown}}
        </div>       
        <br>
    {% endif %}
</div> 

{% endblock %}  
