{% extends 'base2.html' %}
{% load i18n %}
{% load static %}
{% load blog_tags %}

{% block title%} {% trans 'XML' %} {% trans 'To' %} {% trans 'PDF' %} {% endblock %}

{% block content %}
  <div class="container-fluid poppins-regular text-center bg-body-secondary pt-5" >
    <h1 class="roboto-bold"> {% trans 'XML' %} {% trans 'To' %} {% trans 'PDF' %} </h1>
    <hr>
    <div class="container">
      <h2>{% trans 'xml2pdf_subtitle' %}</h2>

      <form method="post" enctype="multipart/form-data" class="form-control align-items-center p-3 mt-3">
        {% csrf_token %}
        <label for="xml_content">{% trans 'xml2pdf_txt_lbl' %}</label><br>
        <textarea id="xml_content" class="form-control" name="xml_content" rows="5" cols="100"></textarea><br><br>
        <h3> OR </h3>
        <label for="xml_file">{% trans 'Upload' %} {% trans 'XML' %} {% trans 'File' %}:</label><br>
        <input type="file" id="xml_file" accept=".xml"  name="xml_file" class="form-control btn btn-primary btn-md"><br><br>
        <button type="submit" class="btn btn-danger btn-lg">{% trans 'XML' %} -> {% trans 'PDF' %}</button>
      </form>
    </div>
  {% endblock %}  
    