aggdraw==1.3.18.post0
amqp==5.2.0
annotated-types==0.6.0
anyio==4.3.0
arrow==1.3.0
asgiref==3.7.2
attrs==23.2.0
beautifulsoup4==4.12.3
billiard==4.2.0
binaryornot==0.4.4
blinker==1.4
celery==5.3.6
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
command-not-found==0.3
comtypes==1.3.0
cookiecutter==2.6.0
cron-descriptor==1.4.3
cryptography==42.0.7
cssselect2==0.7.0
dbus-python==1.2.18
defer==1.0.6
Deprecated==1.2.14
distlib==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==4.2.10
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-check-seo==1.0.0
django-ckeditor==6.7.0
django-classy-tags==4.1.0
django-cms==3.11.5
django-filer==3.1.1
django-formtools==2.5.1
django-js-asset==2.2.0
django-markdown==0.8.4
django-meta==2.4.2
django-parler==2.3
django-polymorphic==3.1.0
django-pwa==1.1.0
django-rosetta==0.10.0
django-sekizai==4.1.0
django-taggit==5.0.1
django-timezone-field==6.1.0
django-treebeard==4.7.1
djangocms-admin-style==3.3.1
djangocms-page-meta==1.4.4
docopt==0.6.2
docxtopdf==0.5b0
easy-thumbnails==2.8.5
et-xmlfile==1.1.0
Faker==22.5.1
fastapi==0.110.1
filelock==3.13.1
fire==0.5.0
flet==0.21.2
flet-core==0.21.2
flet-runtime==0.21.2
fonttools==4.47.2
fpdf==1.7.2
ghostscript==0.7
h11==0.14.0
httpcore==1.0.5
httplib2==0.20.2
httptools==0.6.1
httpx==0.27.0
idna==3.6
imageio==2.34.1
img2pdf==0.5.1
importlib-metadata==4.6.4
jeepney==0.7.1
Jinja2==3.1.3
keyring==23.5.0
kombu==5.3.5
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
lxml==5.1.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==8.10.0
netifaces==0.11.0
networkx==3.3
numpy==1.26.3
oauthlib==3.2.2
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==23.2
packbits==0.6
pandas==2.2.0
pdf2docx==0.5.8
pdf2image==1.17.0
pdfkit==1.0.0
pdfminer==20191125
pdfminer.six==20231228
pikepdf==8.13.0
pillow==10.2.0
pipenv==2023.11.15
platformdirs==4.1.0
plum-dispatch==1.7.4
polib==1.2.0
prompt-toolkit==3.0.43
psd-tools==1.9.32
psd-tools3 @ git+https://github.com/sfneal/psd-tools3.git@2c3c2dbf05e736d8e6eef2fac92a2c0cecc7025d
psycopg2==2.9.9
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.11.0
pydantic==2.6.4
pydantic_core==2.16.3
pyfiglet==1.0.2
Pygments==2.17.2
PyGObject==3.42.1
PyInquirer==1.0.0
PyJWT==2.3.0
PyMuPDF==1.23.19
PyMuPDFb==1.23.9
pyparsing==2.4.7
pypdf==4.0.1
PyPDF2==3.0.1
pypng==0.20220715.0
PySocks==1.7.1
python-apt==2.4.0+ubuntu3
python-aptly==0.12.10
python-crontab==3.0.0
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.1
python-pptx==0.6.23
python-slugify==8.0.4
pytz==2024.1
pyxattr==0.7.2
PyYAML==5.4.1
qrcode==7.4.2
rawpy==0.21.0
redis==5.0.3
regex==2023.12.25
repath==0.9.0
reportlab==4.0.9
requests==2.31.0
rich==13.7.1
scikit-image==0.23.2
scipy==1.13.1
SecretStorage==3.3.1
selenium==4.21.0
setuptools==70.0.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.4
starlette==0.37.2
style==1.1.0
supervisor==4.2.1
svglib==1.5.1
systemd-python==234
tabula-py==2.9.3
termcolor==2.4.0
text-unidecode==1.3
tifffile==2024.5.22
tinycss2==1.2.1
trio==0.25.1
trio-websocket==0.11.1
types-python-dateutil==2.9.0.20240316
typing_extensions==4.9.0
tzdata==2023.4
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
Unidecode==1.3.8
unoserver==2.0.1
update==0.0.1
urllib3==2.1.0
uvicorn==0.29.0
uvloop==0.19.0
vine==5.1.0
virtualenv==20.25.0
virtualenv-clone==0.3.0
wadllib==1.3.6
Wand==0.6.13
watchdog==4.0.0
watchfiles==0.21.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==12.0
wheel==0.43.0
wrapt==1.16.0
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.1.9
youtube-dl==2021.12.17
zipp==1.0.0
