
.btn-custom {
    background-color: #e5322d;
    border-color: #e5322d;
    color: #fff;
    margin: 0px 0px 12px;
    padding: 24px 32px;
}

.btn-custom:hover {
    background-color: #e5322d !important;
    border-color: #e5322d !important;
    color: #fff !important;
}