{% extends 'base.html' %}
{% load i18n %}
{% load meta %}
{% load static %}
{% block content %}
<div class="content-wrapper">
  <div class="bg-body full-screen d-flex flex-column">

    <div class="container-fluid poppins-regular text-center pt-5 mt-5 text-center py-10">
      <h1>About Page</h1>
    </div>
    <hr>
    <div class="container" style="height:auto; min-height:60vh;">
      <h2>iLovePdfConverterOnline.com is a Documents and File conversion tool website as a Free Service provider concept.</h2>
        <div class="markdown prose w-full break-words dark:prose-invert light" bis_skin_checked="1">
          <p><strong>About Us: To make File Conversions easy as a Piece of Cake!</strong></p>
          <p>Welcome to iLovePdfConverterOnline.com! We're here to make converting your files super easy and fun. Convert your files in just clicks.
          Our team build this tool website to make it easy for PDF lovers to convert files without hussle. We love making sure your file conversions are perfect. Whether it's PDFs, Word documents, Excel sheets, PowerPoints, HTML, images like TIFF, JPG, JPEG, PNG, or even Base64 files, we've got you covered. We know how frustrating messed-up conversions can be, so we work hard to keep everything just right for you.
          </p>
          <p><strong>Why Choose Us?</strong></p>
          <ul>
            <li>
              <strong>Easy to Use:</strong> 
              Our tools are designed to be simple and straightforward. Even if you’re not a tech whiz, you can easily use our platform. We keep working on the tools to make them more user friendly so that file conversion on out platform feels like a charm.
            </li>
            <li>
              <strong>Top-Quality Results:</strong>
              We make sure your documents keep their original look and feel. No more losing important details and formatting the structure of documents. Conversions tools are designed to save your day not only in the matter of conversion but also in the matter of file formatting.
            </li>
            <li>
              <strong>Always Free:</strong>
              That's right, all our tools are completely free to use. Everyone deserves access to great tools without spending money. Many tools are in the market who charges for file conversion after a trial but we don't do so. Our team is dedicated to keep the conversion as a free service forever.
            </li>
            <li>
              <strong>Accessible Anywhere:</strong>
              Use our tools anytime, anywhere. All you need is an internet connection. Our team also add feature of PWA (Progressive Web Apps) to notify the users for latest updates of features on website.
            </li>
            <li>
              <strong>Safe and Secure:</strong>
              Your privacy matters to us. After we process your files, we delete them from our servers to keep everything secure. Uploaded files are removed from the server periodically to keep your data safe.
            </li>
          </ul>
          <p>
            <strong>What Can We Help You With?</strong>
          </p>
          <ul>
            <li>
              <strong>Edit PDFs:</strong>
              Need to make changes? No problem! Now editing the PDF file in your hands within few clicks.
            </li>
            <li>
              <strong>Split and Merge Files:</strong>
              Want to combine multiple files or split one into parts? We can do that! You can merge as much files as you want and also you can split pages in a sequence or in a random order as you desired.
            </li>
            <li>
              <strong>Compress Files:</strong>
              Make your files smaller without losing quality. You can also select the compression level by changing the percentage of compression.
            </li>
            <li>
              <strong>Convert Between Formats:</strong>
              Easily switch between PDFs, Word, Excel, PowerPoint, HTML, and various image formats. Convert PDF file in to different formats and also many formats can be converted in PDF format.
            </li>
          </ul>
          <p>
            <strong>Our Story</strong>
            ConvertEase started as a simple tool for merging, splitting, compressing and converting PDF files. We've grown a lot since then, adding more tools and features to help you with all your file needs. Our team always working on new ways to make our service better for you.
          </p>
          <p>
            <strong>Thank You!</strong>
            We couldn't have come this far without our amazing users. Your feedback and support help us improve every day. We are working on a friendly customer service team ready to help you if you have any questions or need assistance.
          </p>
          <p>
            Join millions of happy users who enjoy the ease and reliability of ConvertEase. Try our tools today and see how simple file conversions can be!
          </p>
          <p>Thank you for choosing iLovePdfConverterOnline.com, where converting files is made with true love.</p>
        </div>
        <br> If you have any query please <a href="{% url 'core:contact_us' %}">Contact Us</a>
    </div>

    <div class="card-footer text-body bg-light border-success p-2 mt-auto fs-5 text">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <a href="{% url 'core:about_us' %}" title="About Us" style="text-decoration: none; color: black;">About Us</a>
          </div>
          <div class="col">
            <a href="{% url 'core:contact_us' %}" title="Contact Us" style="text-decoration: none; color: black;">Contact Us</a>
          </div>
          <div class="col">
            <a href="{% url 'core:terms_and_condition' %}" title="Terms and Condition" style="text-decoration: none; color: black;">Terms and Condition</a>
          </div>
          <div class="col">
            <a href="{% url 'core:privacy_policy' %}" title="Privacy Policy" style="text-decoration: none; color: black;">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> 
{% endblock %}
