{% extends 'base.html' %}
{% load i18n %}
{% load meta %}
{% load static %}
{% block content %}
<div class="content-wrapper">
  <div class="bg-body full-screen d-flex flex-column">

    <div class="container-fluid poppins-regular text-center pt-5 mt-5 text-center py-10">
      <h1>About Page</h1>
    </div>
    <hr>
    <div class="container" style="height:auto; min-height:60vh;">
      <h2>iLovePdfConverterOnline.com is a Documents and File conversion Free Service provider concept.
        <br> If you have any query please <a href="{% url 'core:contact_us' %}">Contact Us</a></h2>
    </div>

    <div class="card-footer text-body bg-light border-success p-2 mt-auto fs-5 text">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <a href="{% url 'core:about_us' %}" title="About Us" style="text-decoration: none; color: black;">About Us</a>
          </div>
          <div class="col">
            <a href="{% url 'core:contact_us' %}" title="Contact Us" style="text-decoration: none; color: black;">Contact Us</a>
          </div>
          <div class="col">
            <a href="{% url 'core:terms_and_condition' %}" title="Terms and Condition" style="text-decoration: none; color: black;">Terms and Condition</a>
          </div>
          <div class="col">
            <a href="{% url 'core:privacy_policy' %}" title="Privacy Policy" style="text-decoration: none; color: black;">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> 
{% endblock %}
