{% extends 'base.html' %}
{% block content %}
    <div class="content-wrapper">

        <div class="container-fluid poppins-regular text-center pt-3 mt-3" >
            <h1> Privacy Policy </h1>
        </div>
        <hr>
        <div class="container"
            <ul style="text-align:left">
                <li>iLovePdfConverterOnline.com don't ask for personal data and currenly doesn't have user account concept for registration.</li><br>
                <li>All tools on website are free to use.</li><br>
                <li>No Premium Service Support available.</li><br>
                <li>Uploaded files are not stored on server.</li><br>
                <li>Temperory files are instantly removed from server as user close the session or by periodically cleaning the server for uploaded documents.</li>

            </ul>
        </div>
        
        <div class="container poppins-regular pt-3 mt-3">
          <p>Welcome to our website, Ilovepdfconveronline.com. We care about your privacy and work hard to keep your personal information safe. This Privacy Policy explains how we collect, use, share, and protect your data when you use our services. By using our website, you agree to the practices in this Privacy Policy.</p>

          <h2>Who This Applies To</h2>
          <p>This policy applies to everyone who visits and uses our website, no matter what language you speak. By using our site, you agree to the terms in this Privacy Policy.</p>
      
          <h2>Information We Collect</h2>
          <h3>Personal Information</h3>
          <p>We might collect personal information you give us, like your name and email address, when you use our website but currently we are not collecting any information from user side, might be collect in the future. Privacy Policy will be updated if we would collect information.</p>
      
          <h3>Log Data</h3>
          <p>When you visit our website, our servers might automatically collect information from your browser. This can include your IP address, browser type, the pages you visit, and other usage details.</p>
      
          <h3>Cookies</h3>
          <p>We use cookies and similar tools to make your experience better. Cookies are small files stored on your device that help us understand your preferences and how you use our website. For more details, check out our Cookie Policy below.</p>
      
          <h2>Cookie Policy</h2>
          <p>Cookies are small files saved on your device when you visit our website. They help improve your browsing experience by remembering your preferences and providing relevant content.</p>
          
          <h3>Types of Cookies We Use</h3>
          <ul>
              <li><strong>Essential Cookies:</strong> These are necessary for our website to work properly. They help you navigate and use important features.</li>
              <li><strong>Analytical Cookies:</strong> These cookies help us understand how visitors use our site, so we can make it better.</li>
              <li><strong>Marketing Cookies:</strong> These cookies track your visits across websites to show you ads that you might like.</li>
              <li><strong>Third-Party Cookies:</strong> Our trusted partners might also use cookies for analytics or advertising. We don’t control these cookies, and their use is governed by their own privacy policies. Currenly we are not using any third party cookies except google tag manager and Analytics.</li>
          </ul>
          <p>You can manage your cookie settings in your browser. Keep in mind that disabling some cookies might affect how our website works.</p>
      
          <h2>How We Use Your Information</h2>
          <ul>
              <li>To provide the services on our website, including processing your requests and offering customer support.</li>
              <li>To analyze data and improve our website’s functionality and features.</li>
              <li>To send you updates, newsletters, or promotions. You can opt-out of these at any time.</li>
          </ul>
      
          <h2>Sharing Your Information</h2>
          <p>We might share your information in these cases:</p>
          <ul>
              <li>With third-party service providers who help us operate our website. They can only use your information to perform their tasks and must keep it private.</li>
              <li>When required by law, like in response to a subpoena or court order.</li>
          </ul>
      
          <h2>Third-Party Services</h2>
          <h3>Google Analytics</h3>
          <p>We use Google Analytics to study website traffic. It collects data about your visit, like the pages you view and how long you stay. To learn more, check Google’s Privacy Policy.</p>
      
          <h3>Google Ads</h3>
          <p>We might use Google Ads to show you advertisements. Google Ads collects data to personalize these ads based on your interests. For more information, see Google’s Privacy Policy.</p>
      
          <h2>Children’s Protection</h2>
          <p>We do not knowingly collect information from children under 13 without parental consent. If you believe a child under 13 has given us personal information, please contact us so we can delete it.</p>
      
          <h2>GDPR Compliance</h2>
          <p>For users in the European Union, our data practices comply with the General Data Protection Regulation (GDPR). For more details, see our GDPR Compliance Notice.</p>
      
          <h2>Security</h2>
          <p>We use reasonable measures to protect your information. However, no internet transmission or electronic storage is completely secure. We strive to protect your data but cannot guarantee absolute security.</p>
      
          <h2>Changes to This Privacy Policy</h2>
          <p>We may update this Privacy Policy occasionally. Any changes will be posted on this page with a new “Last Updated” date. We encourage you to check this page regularly to stay informed about how we protect your information.</p>
      
          <p>If you have any questions or concerns about this Privacy Policy or your data, please contact us through our contact us page.</p>
        </div>

        <div class="card-footer text-body-secondary bg-light border-success p-2 mt-auto fs-6 text">
            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <a href="{% url 'core:about_us' %}" title="About Us" style="text-decoration: none; color: black;">About Us</a>
                </div>
                <div class="col">
                  <a href="{% url 'core:contact_us' %}" title="Contact Us" style="text-decoration: none; color: black;">Contact Us</a>
                </div>
                <div class="col">
                  <a href="{% url 'core:terms_and_condition' %}" title="Terms and Condition" style="text-decoration: none; color: black;">Terms and Condition</a>
                </div>
                <div class="col">
                  <a href="{% url 'core:privacy_policy' %}" title="Privacy Policy" style="text-decoration: none; color: black;">Privacy Policy</a>
                </div>
              </div>
            </div>
          </div>
          </div>
{% endblock %}  
