{% extends 'base.html' %}
{% block content %}
    <div class="content-wrapper">

        <div class="container-fluid poppins-regular text-center pt-3 mt-3" >
            <h1> Terms and Conditions </h1>
            <p>Welcome to iLovePDFconverteronline, a platform which is built with two core concepts in mind: Accuracy in conversion and always keep it Free for our loving customers. The Terms and Conditions, we mentioned, establishes a legally binding agreement between you (“the User”) and iLovePDFconverteronline, by outlining your rights and responsibilities while using our services.</p>
        </div>
        <div class="container poppins-regular pt-3 mt-3">
            <h2>Accuracy of Conversion</h2>
            <p>Our dedication lies on offering precise conversions of PDFs. We take great care to ensure that your files are converted accurately, preserving all formatting and content information.</p>
            <h2>Always Free</h2>
            <p>Our goal is to provide users with strong PDF tools at no additional cost. Because of our commitment to accessibility, customers can take advantage of outstanding features and functionalities without having to pay for them.</p>
            <h2>User Responsibilites</h2>
            <h3>Adherence</h3>
            <p>You accept these Terms and all applicable laws and regulations by using our website.</p>
            <h3>Appropriate Application</h3>
            <p>Users must only use the Service for legitimate purposes, and they must never infringe upon the rights of third parties.</p>
            <h3>Prohibited Conduct</h3>
            <p>It is forbidden for users to partake in any malicious activity, including sending spam or hacking.</p>
        
        </div>
        <hr>
        <div class="container"  style="height:auto; min-height:60vh;">
          <div>
            <h4>Customer Service</h4>
            <p>When customers have questions or have problems with the Service, our customer service team is here to help.</p>
            <h4>Privacy Policy</h4>
            <p>The ways in which we gather, utilize, and safeguard your personal data are described in our privacy policy. You agree to the collection and use of data as specified in the Privacy Policy by using the Service.</p>
            <h4>Modification</h4>
            <p>These Terms are subject to change at any time, as per our reserve. Any important changes will be communicated to users. After changes, using the Service still counts as accepting the revised Terms.</p>
            <h4>Termination</h4>
            <p>If you violate these Terms or any relevant laws, we have the right to suspend or terminate your access to the Service.</p>
            <h4>Governing Law</h4>
            <p>The laws of the country in which iLovePdfConverterOnline.com is located shall apply to these Terms.</p>
            <p>Google Inc. owns the trademarks for Google Drive and its logo. Permission from Google is required for their use on our website.</p>
            <h4>File Security and Duration of Access</h4>
            <p>File security and user privacy are very important to us. We never give PDF files to bots or unauthorized people.<br>
            PDF files provided by users are not distributed to outside parties. Only the User who uploaded the file(s) and our system can access them during processing; the files are processed inside the boundaries of our platform.</p>
            <p>The maximum amount of time that files uploaded to our website are kept is sixty minutes. Our website is set up to automatically remove all files after this period, making sure that no user data is kept around longer than is necessary.</p>
            <h4>Modifications</h4>
            <p>We have the right to change any part of these Terms, including the rules on file keeping and privacy, at any time. Any important changes will be communicated to users. After changes, using the Service still counts as accepting the revised Terms.</p>
            <p>You acknowledge and agree to these Terms & Conditions by using our website. You must not use the Service if you disagree with any aspect of these Terms.</p>
          </div>
            <ul style="text-align:left">
                <li>iLovePdfConverterOnline.com don't ask for personal data and currenly doesn't have user account concept for registration.</li><br>
                <li>All tools on website are free to use.</li><br>
                <li>No Premium Service Support available.</li><br>
                <li>Uploaded files are not stored on server.</li><br>
                <li>Temperory files are instantly removed from server as user close the page.</li>

            </ul>
        </div>

        <div class="card-footer text-body-secondary bg-light border-success p-2 mt-auto fs-6 text">
            <div class="container text-center">
              <div class="row">
                <div class="col">
                  <a href="{% url 'core:about_us' %}" title="About Us" style="text-decoration: none; color: black;">About Us</a>
                </div>
                <div class="col">
                  <a href="{% url 'core:contact_us' %}" title="Contact Us" style="text-decoration: none; color: black;">Contact Us</a>
                </div>
                <div class="col">
                  <a href="{% url 'core:terms_and_condition' %}" title="Terms and Condition" style="text-decoration: none; color: black;">Terms and Condition</a>
                </div>
                <div class="col">
                  <a href="{% url 'core:privacy_policy' %}" title="Privacy Policy" style="text-decoration: none; color: black;">Privacy Policy</a>
                </div>
              </div>
            </div>
          </div>
          </div>
{% endblock %}  
