{% load i18n %}
{% load custom_filters %}

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <a class="navbar-brand" href="{% url 'home' %}">iLovePdfConverterOnline</a>
            {% comment %} <a class="navbar-brand" href="{% url 'home' %}">{% trans 'navbar' %}</a> {% endcomment %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'blog:post_list' %}">Blog</a>
                    <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
                    <a class="nav-link active" aria-current="page" href="{% url 'contactus' %}">Contact</a>
                    <a class="nav-link active" aria-current="page" href="#">PDf2</a>
                    <a class="nav-link active" aria-current="page" href="#">2PDf</a>
                    <a class="nav-link active" aria-current="page" href="#">ExtraPdf</a>
                    {% comment %} <a class="nav-link" href="#">{% trans 'navbarfeatures' %}</a> {% endcomment %}
                </div>

                <div class="dropdown me-auto">
                    {% get_current_language as CURRENT_LANGUAGE %}
                    {% get_available_languages as AVAILABLE_LANGUAGES %}
                    {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Change languages
                    </button>
                    <ul class="dropdown-menu">
                        {% for language in languages %}
                        <li>
                            <form method="post" action="{% url 'set_language' %}">
                                {% csrf_token %}
                                <input type="hidden" name="language" value="{{ language.code }}">
                                <button type="submit" class="dropdown-item {% if language.code == CURRENT_LANGUAGE %}active{% endif %}">
                                    {{ language.name_local }}
                                </button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                

            </div>
        </div>
    </nav>
</header>