{% load i18n %}
{% load custom_filters %}
{% load static %}

<header class="header roboto fs-5">
    <nav class="navbar navbar-expand-lg fixed-top text-light" style="background-color: #fcf9f9;">
            <a class="navbar-brand " href="{% url 'core:home' %}" title="iLovePdfConverterOnline">   
                {% comment %} <img class="logo" src="{% static '/media/ilovepdfconvertonline.svg' %}" alt="iLovePdfConverterOnline"> {% endcomment %}
                <svg width="180" height="45" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                    <!-- Created with SVG-edit - https://github.com/SVG-Edit/svgedit-->
                    <title>ilovepdfconverteronline</title>
                    <g class="layer">
                     <text fill="#000000" font-family="Courier" font-size="29" font-weight="bold" id="svg_2" stroke="#000000" stroke-width="0" text-anchor="middle" transform="matrix(1 0 0 0.932416 0 -2.06112)" x="83.24" xml:space="preserve" y="24.83">I  PDF</text>
                     <path d="m67.14,8.14c4.42,-12.57 21.7,0 0,16.16c-21.7,-16.16 -4.42,-28.72 0,-16.16z" fill="#FF0000" id="svg_6" stroke="#fcf9f9" transform="matrix(1 0 0 1 0 0)"/>
                     <text fill="#000000" font-family="Courier" font-size="19" font-weight="bold" id="svg_1" stroke="#000000" stroke-width="0" text-anchor="middle" transform="matrix(0.862178 0 0 0.932416 9.13931 -2.06112)" x="94" xml:space="preserve" y="40.79">Converter Online</text>
                    </g>
                </svg>
            </a>
            {% comment %} <a class="navbar-brand" href="{% url 'home' %}">{% trans 'navbar' %}</a> {% endcomment %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    <a class="nav-link active" aria-current="page" href="{% url 'blog:post_list' %}">{% trans 'Blog'%}</a>
                    <a class="nav-link " aria-current="page" href="{% url 'tools:merge_pdf' %}">{% trans 'Merge'%}</a>
                    <a class="nav-link " aria-current="page" href="{% url 'tools:split_pdf' %}">{% trans 'Split'%}</a>
                    <a class="nav-link " aria-current="page" href="{% url 'tools:compress_pdf' %}">{% trans 'Compress'%}</a>
                    <a class="nav-link " aria-current="page" href="{% url 'tools:rotate_pdf' %}">{% trans 'Rotate'%}</a>
                </div>


                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle fs-5" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        to PDF
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButtonToPDF">
                        <li><a class="dropdown-item" href="{% url 'tools:image_to_pdf' %}">JPG to PDF</a></li>
                        <li><a class="dropdown-item" href="{% url 'tools:word_to_pdf' %}">WORD to PDF</a></li>
                        <li><a class="dropdown-item" href="{% url 'tools:powerpoint_to_pdf' %}">POWERPOINT to PDF</a></li>
                        <li><a class="dropdown-item" href="{% url 'tools:excel_to_pdf' %}">EXCEL to PDF</a></li>
                        <li><a class="dropdown-item" href="{% url 'tools:html_to_pdf' %}">HTML to PDF</a></li>
                        <li><a class="dropdown-item" href="{% url 'tools:json_to_pdf' %}">JSON to PDF</a></li>
                        <li><a class="dropdown-item" href="{% url 'tools:xml_to_pdf' %}">XML to PDF</a></li>
                        <li><a class="dropdown-item" href="{% url 'tools:base64_to_pdf' %}">Base64 to PDF</a></li>
                        <li><a class="dropdown-item" href="{% url 'tools:tiff_to_pdf' %}">TIFF to PDF</a></li>
                    </ul>
                </div>

                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle fs-5" type="button" id="dropdownMenuButtonPdfTo" data-bs-toggle="dropdown" aria-expanded="false">
                        PDF to
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="{% url 'tools:pdf_to_image' %}">PDF to JPG</a></li>
                        <li><a class="dropdown-item" href="{% url 'tools:pdf_to_word' %}">PDF to WORD</a></li>
                        <li><a class="dropdown-item" href="{% url 'tools:pdf_to_powerpoint' %}">PDF to POWERPOINT</a></li>
                        <li><a class="dropdown-item" href="{% url 'tools:pdf_to_excel' %}">PDF to EXCEL</a></li>
                        <li><a class="dropdown-item" href="{% url 'tools:pdf_to_html' %}">PDF to HTML</a></li>
                        <li><a class="dropdown-item" href="{% url 'tools:pdf_to_json' %}">PDF to JSON</a></li>
                        <li><a class="dropdown-item" href="{% url 'tools:pdf_to_xml' %}">PDF to XML</a></li>
                        <li><a class="dropdown-item" href="{% url 'tools:pdf_to_base64' %}">PDF to Base64</a></li>
                        <li><a class="dropdown-item" href="{% url 'tools:pdf_to_tiff' %}">PDF to TIFF</a></li>
                    </ul>
                </div>

                
                <div class="dropdown btn-secondary"> <!-- class = "me-auto"-->
                    {% get_current_language as CURRENT_LANGUAGE %}
                    {% get_available_languages as AVAILABLE_LANGUAGES %}
                    {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% trans 'Change languages' %}
                    </button>
                    <ul class="dropdown-menu" style="max-height: 500px; overflow-y: auto;">
                        {% for language in languages %}
                        <li>
                            <form method="post" action="{% url 'set_language' %}">
                                {% csrf_token %}
                                <input type="hidden" name="language" value="{{ language.code }}">
                                <button type="submit" class="dropdown-item {% if language.code == CURRENT_LANGUAGE %}active{% endif %}">
                                    {{ language.name_local }}
                                </button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      About
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'core:about_us' %}">About Us</a></li>
                      <li><a class="dropdown-item" href="{% url 'core:contact_us' %}">Contact</a></li>
                      <li><a class="dropdown-item" href="{% url 'core:terms_and_condition' %}">Terms&Condition</a></li>
                      <li><a class="dropdown-item" href="{% url 'core:privacy_policy' %}">Privacy Policy</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </nav>
</header>